
body {
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;     /* Alinha verticalmente */
    background-color: #f5e9dd; /* Cor de fundo da página */
    margin: 0;               /* Remove margens padrão do navegador */
    
  }

.recipe-container {
    background-color: white;
    border-radius: 16px;
    padding: 32px;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.recipe-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 24px;
  }

.prep-time {
  background-color: #fef3f4;          /* Fundo rosinha claro */
  border-left: 4px solid #b91c1c;     /* Borda vermelha escura à esquerda */
  padding: 16px;
  border-radius: 8px;
  margin: 20px 0;
  font-family: young serif;
  font-size: 15px;
}


p{
    font-family: Outfit;
}

h2{
    font-family: young serif;
    font-size: 24px;
    
}
li{
    text-align: justify;
    font-family: outfit;
}
.nutrition {
    margin-top: 32px;
  }
  
  .nutrition-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 1px solid #e2e2e2;
  }
  
  .nutrition-item:last-child {
    border-bottom: 1px solid #e2e2e2;
  }
  
  .label {
    color: #555;
  }
  
  .value {
    font-weight: bold;
    color: #843c0c; /* um laranja escuro parecido com a imagem */
  }