body {
    margin: 0;
    height: 110vh;
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
    background-color: #111;  /* ou a cor que você quiser */
    
    }

.foto {
    text-align: center; /* Centraliza tudo dentro, inclusive texto e imagem */
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 15px;
    width: 320px;
    margin: 0 auto;
    
}
.foto-rosto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto; /* Isso é essencial */
   
  }

h1, p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    
  }
  h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(53, 53, 175);
  }
  
  .botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.meu-botao {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 250px; /* tamanho fixo para manter alinhado */
  text-align: center;
}

.meu-botao:hover {
  background-color: #c4f82a; /* verde-limão no hover */
  color: #141414;
}